{% load static %}
<!-- footer start -->
<footer>
    <div class="container">
        <div class="col-md-3 col-sm-6">
            <h4>Featured Job</h4>
            <ul>
                <li><a href="#">Browse Jobs</a></li>
                <li><a href="#">Premium MBA Jobs</a></li>
                <li><a href="#">Access Database</a></li>
                <li><a href="#">Manage Responses</a></li>
                <li><a href="#">Report a Problem</a></li>
                <li><a href="#">Mobile Site</a></li>
                <li><a href="#">Jobs by Skill</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-6">
            <h4>Latest Job</h4>
            <ul>
                <li><a href="#">Browse Jobs</a></li>
                <li><a href="#">Premium MBA Jobs</a></li>
                <li><a href="#">Access Database</a></li>
                <li><a href="#">Manage Responses</a></li>
                <li><a href="#">Report a Problem</a></li>
                <li><a href="#">Mobile Site</a></li>
                <li><a href="#">Jobs by Skill</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-sm-6">
            <h4>Reach Us</h4>
            <address>
                <ul>
                    <li>1201, Murakeu Market, QUCH07<br>
                        United Kingdon</li>
                    <li>Email: Support@job.com</li>
                    <li>Call: 044 123 458 65879</li>
                    <li>Skype: job@skype</li>
                    <li>FAX: 123 456 85</li>
                </ul>
            </address>
        </div>
    </div>
</footer>

<script type="text/javascript" src="{%static 'js/jquery.min.js'%}"></script>
<script src="{%static 'js/bootstrap.min.js'%}"></script>
<script type="text/javascript" src="{%static 'js/owl.carousel.min.js'%}"></script>
<script src="{%static 'js/bootsnav.js'%}"></script>
<script src="{%static 'js/main.js'%}"></script>
</body>

</html>