{% extends 'partials/_base.html' %}
{% load static %}
{% block content %}
		<!-- login section start -->
		<section class="login-wrapper">
			<div class="container">
				<div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
                    <img class="img-responsive" alt="logo" src=" {% static 'img/logo.png' %}">
					<form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
					        {{ form }}
						<button type="submit" class="btn btn-primary">Login</button>
					</form>
                    <p>Have't Any Account <a href="{% url 'register' %}">Create An Account</a></p>
				</div>
			</div>
		</section>
		<!-- login section End -->
{% endblock content %}
